@CHARSET "UTF-8";

.ui-widget, .ui-widget .ui-widget {
	font-size: 96%;
}

#img {
	opacity: 0.2;
	filter: alpha(opacity = 2);
}

.novo {
	background-image: url('../images/novo.png') !important;
	background-size: 100% !important;
}

.editar {
	background-image: url('../images/editar.png') !important;
	background-size: 100% !important;
}

.excluir {
	background-image: url('../images/excluir.png') !important;
	background-size: 100% !important;
}

.voltar {
	background-image: url('../images/voltar.png') !important;
	background-size: 100% !important;
}

.salvar {
	background-image: url('../images/salvar.png') !important;
	background-size: 100% !important;
}

.paciente {
	background-image: url('../images/paciente.png') !important;
	background-size: 100% !important;
}

.icone-32X32 {
	float: right;
	padding-right: 15%;
	width: 60%;
	height: 60%;
}

.dentista {
	background-image: url('../images/dentista.png') !important;
	background-size: 100% !important;
}

.usuario {
	background-image: url('../images/usuario.png') !important;
	background-size: 100% !important;
}

.consultorio {
	background-image: url('../images/consultorio.png') !important;
	background-size: 100% !important;
}

.procedimento {
	background-image: url('../images/procedimento.png') !important;
	background-size: 100% !important;
}

.addCidade {
	background-image: url('../images/novo.png') !important;
	background-size: 100% !important;
}

.info {
	background-image: url('../images/help.png') !important;
	background-size: 100% !important;
}

.home {
	background-image: url('../images/home.png') !important;
	background-size: 100% !important;
}

.titulos {
	background-image: url('../images/titulo.png') !important;
	background-size: 100% !important;
}

.agenda {
	background-image: url('../images/agenda.png') !important;
	background-size: 100% !important;
}

.sair {
	background-image: url('../images/sair.png') !important;
	background-size: 100% !important;
}

.agenda {
	background-image: url('../images/agendamento.png') !important;
	background-size: 100% !important;
}

.gerar-icon {
	background-image: url('../images/gerar.png') !important;
	background-size: 100% !important;
}

.divLogin {
	border: 1px solid !important;
	border-color: #c0c0c0 !important;
	border-radius: 5px;
}

.label {
	font-weight: bold;
	font-size: 20%;
}

.cores {
	margin: 30%;
	width: 15px;
	height: 15px;
}